/*------------------------------------------------------------------
[Table of contents]
1. 	[Styles for devices(<1200px)]
2. 	[Styles for devices(<992px)]
3. 	[Styles for devices(>992px)]
4. 	[Styles for devices(<991px)]
5. 	[Styles for devices(>=992px and <=481px)]
6. 	[Styles for devices(<600px)]
7. 	[Styles for devices(<480px)]
8. 	[Styles for devices(<375px)]
9. 	[Styles for devices(<320px)]
10. Compare
------------------------*/
/*----------------
[Styles for devices(<1200px)]
*/
@media (min-width: 1200px) {
	.cart-page .cart-col-1 {
		width: 75%;
	}
	.cart-page .cart-col-1 .col-lg-9 {
		width: 510px;
	}
	.cart-page .cart-col-1 .col-lg-6 {
		width: 360px;
	}
	.cart-page .cart-col-1 .col-lg-3 {
		width: 150px;
	}
	.cart-page .cart-col-2 {
	  width: 25%;
	  padding-left: 0;
	  float: right;
	}
	.cart-page .cart-col-1 .col-lg-1 {
		width: 115px;
	}
	.cart-page .cart-col-1>.row.last>div, .cart-page .cart-col-1>form>.row.last>div {
	  padding-right: 0;
	}
	.cart-page .cart-col-2 #right-affix.affix-bottom, .cart-page .cart-col-2 #right-affix.affix-top {
	  position: relative;
	  width: 270px;
	}
	.cart-page .fee {
	  margin-top: 15px;
	}
}
/*----------------
[Styles for devices(<992px)]
*/
@media (max-width: 992px) {
	.logo-menu-res {
		padding: 10px 15px 0;
		display: block;
	}
	.logo-menu-res img {
		margin: 0 auto;
	}
	.navbar-toggle {
		display: block !important;
	}
	header .menu {
		background-color: #183544;
	  clear: both;
	  float: none;
	  display: block;
	  position: fixed !important;
	  left: -100% !important;
	  width: 80%;
	  top: 0;
	  bottom: 0;
	  z-index: 9999;
	  padding-top: 20px;
	  padding-bottom: 20px;
	  overflow-y: auto !important;
	  opacity: 0;
	  visibility: hidden;
	  -webkit-transition: 0.3s;
	  -o-transition: 0.3s;
	  transition: 0.3s;
	  right: auto !important;
	}
	#header .menu {
	  margin: 0;
	  height: auto !important;
	}
	header .menu.has-open {
	  visibility: visible;
	  opacity: 1;
	  left: 0 !important;
	  -webkit-transition: 0.3s;
	  -o-transition: 0.3s;
	  transition: 0.3s;
	  overflow-y: auto !important;
	}
	.navbar-left {
	  float: none!important;
	}
		.menu ul {
	  padding: 10px;
	  margin: 0;
	}
	.menu>ul>li {
	  border-bottom: 1px solid #ddd;
	}
	.navbar-nav>li {
	  float: none;
	}
	.menu li.parent .plus {
	  color: #252525!important;
	}
	.menu .navbar-nav > li> a {
	  line-height: 35px;
	  padding: 0;
	}
	.menu li.parent .carret-down {
	  color: #fff;
	  height: 35px;
	  line-height: 35px;
	  position: absolute;
	  right: 0;
	  text-align: center;
	  top: 0;
	  width: 35px;
	  z-index: 9;
	  cursor: pointer;
	}
	.navbar.navbar-custom .navbar-nav>li.parent .carret-down {
	  right: 0;
	  top: 0;
	}
	.navbar.navbar-custom .navbar-nav>li.parent .carret-down:before {
	  font-size: 20px;
	}
	.menu .navbar-nav li:hover > .submenu {
	  -webkit-transition: inherit;
	  transition: inherit;
	  -webkit-transform: translate(0, 10px);
	  -ms-transform: translate(0, 10px);
	  -o-transform: translate(0, 10px);
	  transform: translate(0, 10px);
	}
	.menu .navbar-nav .submenu {
  	background: transparent;
	  box-shadow: none;
	  display: none;
	  left: 0px;
	  opacity: 1;
	  padding: 0 0 0 10px;
	  position: relative;
	  top: -10px;
	  visibility: visible;
	  width: 100%;
	}
	.menu .navbar-nav .submenu li a { color: #fff; }
	.menu .navbar-nav .submenu .submenu {
	  left: 0;
	  top: -10px;
	}
	/*.navbar.navbar-custom .navbar-nav>li.parent .carret-down {
	  position: absolute;
	  color: #fff;
	  right: 15px;
	  top: 10px;
	}*/
	.menu .navbar-nav > li .submenu li.parent > a:after { display: none; }
	.navbar.navbar-custom .navbar-nav>li.parent .carret-down:before {
	  content: "\f0d7";
	  font-family: "Fontawesome";
	}
	.menu li.parent .carret-down.open:before {
	  content: "\f0d8";
	}
}
/*----------------
[Styles for devices(>992px)]
*/
@media (min-width: 992px) {
	.cart-page .cart-col-1 .col-md-1 {
		width: 115px;
	}
	.cart-page .cart-col-1 .col-md-6.c2 {
	  width: 323px;
	}
	.cart-page .name {
	  margin-bottom: 15px;
	}
	.cart-page .cart-col-1 .col-md-8 {
    	width: 480px;
	}
}
/*----------------
[Styles for devices(<991px)]
*/
@media (max-width: 991px) {
	.top-header .logo {
	    float: left;
	    width: 100%;
	    margin: 7px 0;
	}
	.top-header .logo img {
		margin: 0 auto;
	}
	.top-header .header-search-box {
	    float: left;
	    width: 100%;
	    height: 35px;
	    margin: 5px 0;
	    position: relative;
	}
	.top-header .header-contact {
	    float: left;
	    line-height: 45px;
	    text-align: center;
	    width: 100%;
	}
	.block-ft .block-contact-ft {
		width: 100%;
		text-align: center;
		margin-bottom: 5px;
	}
	.block-phone-ft p { text-align: left; }
	.block-ft .block-phone-ft,
	.block-ft .block-accordion-ft {
		width: 50%
	}
	.news-list .news-items .news-item {
	    margin-bottom: 30px;
	    padding: 0;
	}
	.news-list .news-items .news-item-head {
	    width: 100%;
	    margin: 0 auto;
	    float: none;
	    margin-bottom: 10px;
	}
	.news-list .news-items .news-item-details {
	    width: 100%;
	    float: none;
	    margin: 0 auto;
	}
}
/*----------------
[Styles for devices(>=992px and <=481px)]
*/
@media (max-width: 992px) and (min-width: 320px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*----------------
[Styles for devices(<767px)]
*/
@media (max-width: 767px) {
	.block-ftm .menu-ft {
	    text-align: left;
	    padding: 5px 0;
	}
	.block-ftm .menu-ft li {
	    margin-bottom: 5px;
	}
	.page-pl0 {
		padding-right: 15px;
	}
	.block-productrelate .products .item {
	    position: relative;
	    width: 33.3%;
	    float: left;
	    padding: 0 10px;
	}
	.block-productrelate .products .item:nth-child(4n+1) { clear: both; }
}
/*----------------
[Styles for devices(<600px)]
*/
@media (max-width: 600px) {
	.block-ft .block-contact-ft,
	.block-ft .block-phone-ft,
	.block-ft .block-accordion-ft {
		width: 100%;
		text-align: left;
		margin-bottom: 5px;
	}
	.block-ft .block-accordion-ft .accordion-header {
    	text-align: left;
	}
	.block-promotions .promotions-item { width: 100%; }
	.block-promotions .promotions-item .item-sales {
		position: relative;
		margin-bottom: 15px;
	}
	.block-promotions .promotions-item .item-sales .count-down-time {
		position: relative;
	}
	.block-cate ul li.active:before, .block-cate ul li:hover:before,
	.block-cate ul li.active:after, .block-cate ul li:hover:after { display: none; }
	.block-cate ul li.active, .block-cate ul li:hover { padding: 0 10px; }
	#frmContact .form-group {
		margin-bottom: 10px;
	}
	#frmContact .form-group label {
		display: block;
		width: 100%;
	}
	#frmContact input, #frmContact textarea {
		width: 100% !important;
	}
	.block-productrelate .products .item {
	    position: relative;
	    width: 50%;
	    float: left;
	    padding: 0 10px;
	}
	.block-productrelate .products .item:nth-child(4n+1) { clear: both; }
}
/*----------------
[Styles for devices(<480px)]
*/
@media (max-width: 480px) {
	.block-sale-products li {
		width: 100%;
	}
}
/*----------------
[Styles for devices(<375px)]
*/
@media (max-width: 375px) {
	.top-header .header-contact p {
	    font-size: 12px;
	    color: #fff;
	}
	.block-ft .block-contact-ft, .block-ft .block-phone-ft, .block-ft .block-accordion-ft {
	    text-align: center;
	}
	.block-ft .block-accordion-ft .accordion-header {
    	text-align: center;
	}
}

/*----------------
[Styles for devices(<320px)]
*/
@media (max-width: 320px) {
	.block-productrelate .products .item {
	    position: relative;
	    width: 100%;
	    float: left;
	    padding: 0 10px;
	}
	.block-pagination .pagination>li>a,
	.block-pagination .pagination>li>a,
	.block-pagination .pagination>li>span {
	  margin: 0 5px;
	}
}

/*===== Compare =====*/
.cp-cell-1 {
  width: 19%;
}
.cp-cell-2 {
  width: 34%;
}
.cp-cell-3 {
  width: 34%;
}
.cp-cell-4 {
  width: 11%;
}